/* Styling for the header group */

    .Header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        background-color: #f4f4f4;
        border-bottom: 2px solid #ccc;
    }

    .HeaderTitle h1 {
        margin: 0;
        font-size: 24px;
    }

    /* Animations */


/* Styling for the tab group */

    .tabgrid {
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: repeat(1, 1fr);
        gap: 8px;
    }

    #bugList {
        background-color: #ebebff;
        padding: 6px;
    }

    .hasBorder {
        border-right: 2px solid #000000;
        padding-left: 1vw;
    }

    .button {
        cursor: pointer;
        font-weight: 700;
        transition: all 0.2s;
        padding: 10px 20px;
        border-radius: 100px;
        background: #007BFF;
        color: white;
        border: 1px solid transparent;
        display: flex;
        align-items: center;
        font-size: 15px;
    }

    .button:hover {
        background: #0056b3;
        transform: scale(1.05);
    }

    .tab {
        overflow: hidden;
        border-bottom: 2px solid #ccc;
        padding: 36px 0 0 0;
        display: flex;
    }

    .tab button {
        background-color: #ebebff;
        border-radius: 12px 12px 0 0;
        border: 1px solid #ccc;
        outline: none;
        cursor: pointer;
        padding: 12px 20px 12px 20px;
        transition: background-color 0.3s;
        font-size: 16px;
    }

    #ResolvedTab {
        margin-left: auto;  
    }

    .tab button:hover {
        background-color: #aaaaff;
    }

    .tab button.active {
        background-color: #007BFF;
        color: white;
        font-weight: bold;
    }

    .tabcontent {
        display: none;
        padding: 15px;
        border: 1px solid #ccc;
        border-top: none;
        animation: fadeEffect 0.6s;
    }

    /* Animations */
    @keyframes fadeEffect {
        from {opacity: 0;}
        to {opacity: 1;}
    }

